body
{
    font-family: 'Montserrat', sans-serif;
}
.Home
{
    width:130px; 
    background-color: rgb(202, 219, 233);
    margin-left: 10px;
    border-radius: 10px;
}
.Menu
{
    width: 280px;
    height: 548px;
    background-color: #eeeeee; 
    border-radius: 10px; 
    position: absolute; 
    left:70px;
    top:40px;
}
.Username
{
    display: inline;
    position: absolute; 
    top:26px;  
    color: #1B6CA8;
    font-weight: bold;
    margin-left: 14px; 
    font-size: 20px;
}
.UserImage
{
    display:inline;
    width:50px;
    height: 50px; 
    padding :10px;  
}  
.InternalImage
{
    display:inline; 
    width:50px;
    height: 50px;
    padding :10px; 
    margin-left: 10px;
}
.UserImage
{
    border:1px solid #1B6CA8; 
    border-radius: 50%; 
    margin-left: 15px;
    margin-top: 15px;
}
.Header
{
    padding:15px;
    color:#1B6CA8;
    font-weight: bold; 
    margin-bottom: 20px;  
    margin-left: 5px;
}
.GName
{
    display: inline;
    color: #1B6CA8;
    font-weight: bold;  
    margin-bottom: 40px;
} 
.GNumbers  
{
    display: inline;
    margin-left: 50px;
    font-size: 14px;
    float: right;
    font-weight: bold;
    color: #1B6CA8;

}
.InternalDes
{
    color:#1B6CA8;
    display: inline;  
    position: relative; 
    font-weight: bold;
    top:5px;
} 
.CurrentGroups
{
    background-color: #eeeeee; 
    border-radius: 10px;  
    width:800px;
    height: 548px; 
    padding:20px;
    position: absolute; 
    left:400px;
    top:40px;
} 
.Container,.Container2
{
    display: flex;
    justify-content: space-between;
}
.Group1
{
    height: fit-content;
    border:2px solid #1B6CA8;  
    width:366px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}  
.Group2
{
    height: fit-content;
    width:366px;
    border:2px solid #1B6CA8;  
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
} 
.Group3
{
    height: fit-content;
    width:366px;
    border:2px solid #1B6CA8;  
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
.Group4
{
    height: fit-content;
    width:366px;
    border:2px solid #1B6CA8;  
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;   
}
.Description
{
    margin-top: 10px;
    margin-bottom: 10px;
} 
.btn
{
     margin-left: 40px;
     margin-bottom: 20px;
     background-color: #1B6CA8;
     font-weight: bold;
     margin-top: 20px; 
     border-radius: 10px;
}
.All
{
    margin-left: 20px;
    font-weight: bold; 
    font-size: 20px;
    color:#1B6CA8; 
} 
.RightArrow
{
    width:20px;
    height: 20px;
}